name: ARM

on:
  push:
    tags-ignore:
      - '**'
    branches:
      - '**'
    pull_request:
      paths:
        - '**'
  workflow_dispatch:
  #workflow_call:

jobs:
  buildAMarm:
    name: Package ${{ matrix.platform.name }} ${{ matrix.config.name }} on ${{ matrix.os }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        platform:
        - { name: armv7,   arch: armhf }
        - { name: aarch64, arch: arm64 }
        config:
        - { name: shared, amflags: STATIC=0 }
        - { name: static, amflags: STATIC=1 }
        video: [ X11, KMS ]
        os: [ bullseye, bookworm ]
        exclude:
          - config: { name: shared }

    steps:
    - name: AM+ - Checkout
      uses: actions/checkout@v4
      with:
        path: am

    - name: Prepare
      id: vars
      run: |
        [[ "${{ matrix.video }}" == "X11" ]] && sed -i 's/USE_DRM=1//' am/debian/rules
        deb_version="$(head -1 am/debian/changelog | egrep -o "[0-9]+\.[0-9]+\.[0-9]+")"
        fe_version=
        [[ ${GITHUB_REF} =~ ^refs/tags/* ]] && fe_version="${GITHUB_REF#refs/*/}"
        echo "fe_version=${fe_version}" >> $GITHUB_OUTPUT
        echo "deb_version=${deb_version}" >> $GITHUB_OUTPUT

    - name: Build AM+ (Fast Containerized)
      uses: jtdor/build-deb-action@v1
      env:
        DEB_BUILD_OPTIONS: noautodbgsym
      with:
        buildpackage-opts: --build=binary --no-sign --no-pre-clean
        source-dir: am
        host-arch: ${{ matrix.platform.arch }}
        docker-image: debian:${{ matrix.os }}-slim
        setup-hook: |
          test "${{matrix.os}}" = "bookworm" && backports_url="http://deb.debian.org/debian" || backports_url="http://archive.debian.org/debian/"
          echo "deb ${backports_url} ${{matrix.os}}-backports main" > /etc/apt/sources.list.d/debian-backports.list
          apt update
          apt-get install -y -q build-essential cmake pkgconf libxrandr-dev libxcursor-dev libudev-dev libopenal-dev libflac-dev libvorbis-dev libgl1-mesa-dev libavformat-dev libfontconfig1-dev libfreetype6-dev libswscale-dev libswresample-dev libarchive-dev libjpeg-dev libglu1-mesa-dev libgbm-dev libdrm-dev libegl1-mesa-dev libcurl4-gnutls-dev libxi-dev ca-certificates
          apt-get install -y -t ${{matrix.os}}-backports cmake

    - name: Rename artifacts
      run: |
        find ./ -name '*.deb'
        version="$(head -1 am/debian/changelog | egrep -o "[0-9]+\.[0-9]+\.[0-9]+")"
        cp "./debian/artifacts/attractplus_${{ steps.vars.outputs.deb_version }}_${{ matrix.platform.arch }}.deb" "attractplus_${{ steps.vars.outputs.deb_version }}_${{ matrix.os }}_${{ matrix.platform.arch }}_${{ matrix.video }}.deb"

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        path: "./attractplus_${{ steps.vars.outputs.deb_version }}_${{ matrix.os }}_${{ matrix.platform.arch }}_${{ matrix.video }}.deb"
        name: "attractplus_${{ steps.vars.outputs.deb_version }}_${{ matrix.os }}_${{ matrix.platform.arch }}_${{ matrix.video }}"
        compression-level: 0
