name: Build

on: [push, pull_request]

jobs:
  buildx86_64:
    name: ${{ matrix.platform.name }} ${{ matrix.config.name }}
    runs-on: ${{ matrix.platform.os }}

    strategy:
      matrix:
        platform:
        - { name: Windows MXE, os: ubuntu-20.04, crossprefix: x86_64-w64-mingw32.static-, amosflags: CROSS=1 FE_WINDOWS_COMPILE=1 }
        - { name: Linux GCC,   os: ubuntu-20.04, flags: -DSFML_USE_DRM=1,                 amosflags: USE_DRM=1 }
        - { name: MacOS XCode, os: macos-11,  flags: -DSFML_USE_SYSTEM_DEPS=1 }
        config:
        - { name: shared, flags: -DBUILD_SHARED_LIBS=TRUE }
        - { name: static, flags: -DBUILD_SHARED_LIBS=FALSE, amflags: STATIC=1 }

        #include:
        #- platform: { name: MacOS XCode, os: macos-latest }
        #  config: { name: Frameworks, flags: -DSFML_BUILD_FRAMEWORKS=TRUE }
        include:
        - platform: { name: Windows MXE }
          config: { name: static }
          specifific_flags: -DCMAKE_CXX_FLAGS="-DAL_LIBTYPE_STATIC=TRUE"
        exclude:
        - platform: { os: ubuntu-20.04 }
          config: { name: shared }
        - platform: { os: macos-11 }
          config: { name: static }

    steps:
    - name: AM+ - Checkout
      uses: actions/checkout@v3
      with:
        path: am

    - name: Install Linux Dependencies
      if: runner.os == 'Linux' && matrix.platform.name != 'Windows MXE'
      run: |
        sudo apt-get update
        sudo apt-get install pkgconf libxrandr-dev libxcursor-dev libudev-dev libopenal-dev libflac-dev libvorbis-dev libgl1-mesa-dev libavformat-dev libfontconfig1-dev libfreetype6-dev libswscale-dev libswresample-dev libarchive-dev libjpeg-dev libglu1-mesa-dev libegl1-mesa-dev libdrm-dev libcurl4-gnutls-dev

    - name: Install Linux MXE for Windows cross-building
      if: matrix.platform.name == 'Windows MXE'
      run: |
        sudo apt-get install \
          software-properties-common \
          lsb-release
        sudo apt-key adv \
          --keyserver keyserver.ubuntu.com \
          --recv-keys 86B72ED9 && \
        sudo add-apt-repository \
          "deb [arch=amd64] https://pkg.mxe.cc/repos/apt `lsb_release -sc` main" && \
        sudo apt-get update
        sudo apt-get install \
          mxe-x86-64-w64-mingw32.${{matrix.config.name}}-cc \
          mxe-x86-64-w64-mingw32.${{matrix.config.name}}-openal \
          mxe-x86-64-w64-mingw32.${{matrix.config.name}}-flac \
          mxe-x86-64-w64-mingw32.${{matrix.config.name}}-vorbis \
          mxe-x86-64-w64-mingw32.${{matrix.config.name}}-freetype \
          mxe-x86-64-w64-mingw32.${{matrix.config.name}}-freetype-bootstrap \
          mxe-x86-64-w64-mingw32.${{matrix.config.name}}-ffmpeg \
          mxe-x86-64-w64-mingw32.${{matrix.config.name}}-libarchive \
          mxe-x86-64-w64-mingw32.${{matrix.config.name}}-curl \
          mxe-x86-64-w64-mingw32.${{matrix.config.name}}-openjpeg
        sudo apt-get install ./am/extlibs/mxe/mxe-x86-64-w64-mingw32.${{matrix.config.name}}-gcc_11.2.0-focal.deb
        sudo ln -s /usr/lib/mxe/usr/bin/x86_64-w64-mingw32.${{matrix.config.name}}-gcc /usr/lib/mxe/usr/bin/x86_64-w64-mingw32.${{matrix.config.name}}-cc
        sudo pip install mingw-ldd
        echo "/usr/lib/mxe/usr/bin" >> $GITHUB_PATH
        echo "cross_prefix=x86_64-w64-mingw32.${{matrix.config.name}}-" >> $GITHUB_ENV
        echo "cross_toolchain=TOOLCHAIN=x86_64-w64-mingw32.${{matrix.config.name}}" >> $GITHUB_ENV

    - name: Install MacOS brew
      if: runner.os == 'macOS'
      run: |
        brew install pkg-config ffmpeg libarchive libvorbis flac openal-soft

    - name: SFML - Checkout
      uses: actions/checkout@v3
      with:
        repository: oomek/SFML
        ref: 2.6.0
        path: sfml

    - name: SFML - Configure CMake
      run: ${{env.cross_prefix}}cmake -S $GITHUB_WORKSPACE/sfml -B $GITHUB_WORKSPACE/sfml/build -DCMAKE_INSTALL_PREFIX=$GITHUB_WORKSPACE/sfml/install -DOpenGL_GL_PREFERENCE=GLVND -DSFML_INSTALL_PKGCONFIG_FILES=TRUE -DSFML_BUILD_NETWORK=FALSE ${{matrix.platform.flags}} ${{matrix.config.flags}} ${{matrix.specifific_flags}}

    - name: SFML - Build
      run: ${{env.cross_prefix}}cmake --build $GITHUB_WORKSPACE/sfml/build --config Release --target install

    - name: AM+ - Build
      run: ${{matrix.platform.ammakeopts}} make -C am -j$(nproc) ${{matrix.platform.amosflags}} ${{matrix.config.amflags}} ${{env.cross_toolchain}} VERBOSE=1
      env:
        PKG_CONFIG_PATH: "${{github.workspace}}/sfml/install:${{github.workspace}}/sfml/install/pkgconfig:/usr/local/pkgconfig:/usr/local/opt/openal-soft/lib/pkgconfig/"
        PKG_CONFIG_PATH_x86_64_w64_mingw32_${{matrix.config.name}}: "${{github.workspace}}/sfml/install/pkgconfig"
        EXTRA_CFLAGS: "${{matrix.platform.amextracflags}}"

    #~ - name: MacOS switch to GCC
      #~ if: runner.os == 'macOS'
      #~ run: |
        #~ echo "CC=/usr/local/bin/gcc-10" >> $GITHUB_ENV
        #~ echo "CXX=/usr/local/bin/g++-10" >> $GITHUB_ENV
        #~ echo "AR=/usr/local/bin/ar-10" >> $GITHUB_ENV

    - name: AM+ - Build attract-console.exe
      if: matrix.platform.name == 'Windows MXE'
      run: |
        make -C am smallclean
        make -C am -j$(nproc) WINDOWS_CONSOLE=1 ${{matrix.platform.amosflags}} ${{matrix.config.amflags}} ${{env.cross_toolchain}}
      env:
        PKG_CONFIG_PATH: "${{github.workspace}}/sfml/install"
        PKG_CONFIG_PATH_x86_64_w64_mingw32_${{matrix.config.name}}: "${{github.workspace}}/sfml/install/pkgconfig"

    - name: Prepare artifacts
      if: runner.os != 'macOS'
      run: |
        mkdir -p "${GITHUB_WORKSPACE}"/artifacts
        for e in "${GITHUB_WORKSPACE}"/am/*.exe ; do
          for dll in $(mingw-ldd "$e" --dll-lookup-dirs /usr/lib/mxe/usr/x86_64-w64-mingw32.shared/bin/ "${GITHUB_WORKSPACE}"/sfml/install/lib/ | grep -v 'not found$' | tr -d ' ' | cut -d '>' -f 2) ; do
            cp "$dll" "${GITHUB_WORKSPACE}"/artifacts/
          done
        done
        find "${GITHUB_WORKSPACE}"/sfml/install/lib/ -name "*.dll" -o -name "*.so" -o -name "*.dylib" -exec cp -v {} "${GITHUB_WORKSPACE}"/artifacts/ \;
        cp am/attract* "${GITHUB_WORKSPACE}"/artifacts/
        7z a "attract-${{matrix.platform.name}}-${{matrix.config.name}}-x86_64.7z" artifacts

    - name: Prepare macOS artifacts
      if: runner.os == 'macOS'
      run: |
        git -C am/ fetch --unshallow
        mkdir -p "${GITHUB_WORKSPACE}"/artifacts
        bash am/util/osx/appbuilder.sh
        7z a "attract-${{matrix.platform.name}}-${{matrix.config.name}}-x86_64.7z" artifacts

    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: ${{matrix.platform.name}}-${{matrix.config.name}}
        path: attract-*.7z


  buildARM:
    name: ${{ matrix.platform.name }} ${{ matrix.config.name }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform:
        - { name: armv7,   os: buster,  shell: bash, flags: -DSFML_USE_DRM=1, amosflags: USE_DRM=1 }
        - { name: aarch64, os: buster,  shell: bash, flags: -DSFML_USE_DRM=1, amosflags: USE_DRM=1 }
        config:
        #- { name: Shared, flags: -DBUILD_SHARED_LIBS=TRUE }
        - { name: Static, flags: -DBUILD_SHARED_LIBS=FALSE, amflags: STATIC=1 }

    steps:
    - name: SFML - Checkout
      uses: actions/checkout@v3
      with:
        repository: oomek/SFML
        ref: 2.6.0
        path: sfml

    - name: AM+ - Checkout
      uses: actions/checkout@v3
      with:
        path: am

    - name: SFML and AM
      uses: uraimo/run-on-arch-action@v2.3.0
      with:
        arch: ${{ matrix.platform.name }}
        distro: ${{ matrix.platform.os }}
        githubToken: ${{ github.token }}
        env: |
          PKG_CONFIG_PATH: "/sfml/install/pkgconfig/"
        dockerRunArgs: |
          --volume "${GITHUB_WORKSPACE}/sfml:/sfml"
          --volume "${GITHUB_WORKSPACE}/am:/am"
        install: |
          apt-get update -y -q
          apt-get install -y -q build-essential cmake pkgconf libxrandr-dev libxcursor-dev libudev-dev libopenal-dev libflac-dev libvorbis-dev libgl1-mesa-dev libavformat-dev libfontconfig1-dev libfreetype6-dev libswscale-dev libswresample-dev libarchive-dev libjpeg-dev libglu1-mesa-dev libgbm-dev libdrm-dev libegl1-mesa-dev libcurl4-gnutls-dev
        run: |
          cmake -S /sfml -B /sfml/build -DCMAKE_INSTALL_PREFIX=/sfml/install -DSFML_INSTALL_PKGCONFIG_FILES=TRUE -DSFML_BUILD_NETWORK=FALSE ${{matrix.platform.flags}} ${{matrix.config.flags}}
          cmake --build /sfml/build --config Release --target install
          make -C /am -j$(nproc) ${{matrix.platform.amosflags}} ${{matrix.config.amflags}}

    - name: Prepare artifacts
      run: |
        mkdir -p "${GITHUB_WORKSPACE}"/artifacts
        find "${GITHUB_WORKSPACE}"/sfml/install/lib/ -name "*.so" -exec cp {} "${GITHUB_WORKSPACE}"/artifacts/ \;
        cp am/attract* "${GITHUB_WORKSPACE}"/artifacts/
        7z a "attract-${{matrix.platform.name}}-${{matrix.config.name}}-x86_64.7z" artifacts

    - name: AM+ - Upload binary
      uses: actions/upload-artifact@v3
      with:
        name: Linux-${{matrix.platform.name}}-${{matrix.config.name}}
        path: attract-*.7z

  Release:
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
    name: Release to github
    needs: [buildx86_64, buildARM]
    runs-on: ubuntu-latest

    steps:
    - name: Download all artifacts
      uses: actions/download-artifact@v2
      with:
        path: artifacts

    - name: Prepare artifacts
      id: prepare_artifacts
      run: |
        tag="${GITHUB_REF#refs/*/}"
        echo "::set-output name=current_tag::${tag}"
        mkdir -p "${GITHUB_WORKSPACE}"/artifacts_for_release
        find "${GITHUB_WORKSPACE}"/artifacts/ -name "*.7z" | while read f ; do 
          p="$(basename "$f")"
          cp -v "$f" "${GITHUB_WORKSPACE}/artifacts_for_release/attract-${GITHUB_REF#refs/*/}-${p%attract-}"
        done

    - name: Create Release
      uses: softprops/action-gh-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        name: Attract Mode ${{ steps.prepare_artifacts.outputs.current_tag }}
        draft: true
        prerelease: false
        files: artifacts_for_release/attract-*.7z
