name: Linux x86_64

on:
  push:
    tags-ignore:
      - '**'
    branches:
      - '**'
    pull_request:
      paths:
        - '**'
  workflow_dispatch:
  #workflow_call:

jobs:
  buildAMx86:
    name: Package ${{ matrix.platform.name }} ${{ matrix.config.name }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        platform:
        - { name: Linux x64 KMS, targetos: linux-x86, video: KMS, amflags: USE_DRM=1 }
        - { name: Linux x64 X11, targetos: linux-x86, video: X11 }
        config:
        - { name: shared, amflags: STATIC=0 }
        - { name: static, amflags: STATIC=1 }

        os: [ ubuntu-24.04, ubuntu-22.04 ]

        exclude:
          - platform: { targetos: linux-x86 }
            config: { name: shared }

    steps:
    - name: AM+ - Checkout
      uses: actions/checkout@v4
      with:
        path: am

    - name: Prepare
      id: vars
      run: |
        [[ "${{ matrix.platform.video }}" == "X11" ]] && sed -i 's/USE_DRM=1//' am/debian/rules
        deb_version="$(head -1 am/debian/changelog | egrep -o "[0-9]+\.[0-9]+\.[0-9]+")"
        docker_image="$(echo "${{ matrix.os }}" | sed "s/-/:/")"
        fe_version=
        [[ ${GITHUB_REF} =~ ^refs/tags/* ]] && fe_version="${GITHUB_REF#refs/*/}"
        echo "fe_version=${fe_version}" >> $GITHUB_OUTPUT
        echo "deb_version=${deb_version}" >> $GITHUB_OUTPUT
        echo "docker_image=${docker_image}" >> $GITHUB_OUTPUT

    - name: Build AM+ (Fast Containerized)
      uses: jtdor/build-deb-action@v1
      env:
        DEB_BUILD_OPTIONS: noautodbgsym
      with:
        buildpackage-opts: --build=binary --no-pre-clean --no-sign
        source-dir: am
        docker-image: ${{ steps.vars.outputs.docker_image }}

    - name: Rename artifacts
      run: |
        find ./ -name '*.deb'
        cp -v "./debian/artifacts/attractplus_${{ steps.vars.outputs.deb_version }}_amd64.deb" "attractplus_${{ steps.vars.outputs.deb_version }}_${{ matrix.os }}_${{ matrix.platform.video }}_amd64.deb"

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        path: "./attractplus_${{ steps.vars.outputs.deb_version }}_${{ matrix.os }}_${{ matrix.platform.video }}_amd64.deb"
        name: "attractplus_${{ steps.vars.outputs.deb_version }}_${{ matrix.os }}_${{ matrix.platform.video }}_amd64"
        compression-level: 0
